<h1 class="p-relative">Les résultats des Elections</h1>

<!-- Le conteneur principal ne doit apparaître qu'une seule fois -->
<div class="projects-page d-grid m-20 gap-20">
  <% allCandidats.forEach(c => { %>
    <div class="project bg-white p-20 rad-6 p-relative">
      <span class="date fs-13 c-grey">15/10/2021</span>
      <h4 class="m-0"><%= c.nom %>  <%= c.prenom %></h4> <!-- Affiche le nom du candidat -->
      <p class="c-grey mt-10 mb-10 fs-14"><%= c.PartPolytique %></p>
      <div class="team">
        <a href="#"><img src="/images/team-01.png" alt="" /></a>
        <a href="#"><img src="/images/team-02.png" alt="" /></a>
        <a href="#"><img src="/images/team-03.png" alt="" /></a>
        <a href="#"><img src="/images/team-04.png" alt="" /></a>
        <a href="#"><img src="/images/team-05.png" alt="" /></a>
      </div>
      <div class="do d-flex">
        <span class="fs-13 rad-6 bg-eee"> Nombre de votes : <%= c.usersVotés.length %></span>
      </div>
      <div class="info between-flex">
        <div class="prog bg-eee">
          <span class="bg-red" style="width: 50%"></span>
        </div>
        <div class="fs-14 c-grey">
          <i class="fa-solid fa-dollar-sign"></i>
          % vote
        </div>
      </div>
    </div>
  <% }); %>
</div>
